/* Estilos Generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding-top: 80px
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px
}

/* Estilos para el encabezado principal */
h1 {
  text-align: center;
  color: #2c3e50;
}

/* Estilos para la navegación */
nav {
  display: flex;
  justify-content: center;
  background-color: #34495e;
  padding: 10px 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: #f1c40f;
}

/* Estilos activos para NavLink */
.activeNavLink {
  color: #f1c40f;
}

/* Estilos para el formulario de búsqueda y la lista de recetas */
.search-form, .recipes-list {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* Estilos para el título fijo y la imagen */
.fixed-header {
  position: fixed; /* Fija la posición del contenedor */
  top: 10px; /* Distancia desde la parte superior */
  left: 10px; /* Distancia desde el lado izquierdo */
  display: flex; /* Distribución horizontal de los elementos */
  align-items: center; /* Alineación vertical de los elementos */
  z-index: 1000; /* Asegura que esté sobre otros elementos */
}

/* Estilos para el título */
.header-title {
  font-size: 40px; /* Tamaño de la fuente para el título */
  margin-right: 15px; /* Espacio entre el título y la imagen */
  color:darkmagenta;
  font-family: 'Times New Roman', Times, serif;
}

/* Estilos para la imagen */
.header-image {
  height: 200px; /* Altura de la imagen */
  width: auto; /* Ancho automático para mantener la proporción */
  
}
