/* Estilos para la lista de recetas */
.recipe-list {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.recipe-list h2 {
  color: #2c3e50;
  text-align: center;
  margin-bottom: 30px;
}

/* Estilos para cada tarjeta de receta */
.RecipeCard {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.RecipeCard:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para el título de la receta */
.Title {
  color: #34495e;
  margin: 0;
  font-size: 1.2rem;
}